.backgroundimg {
  position: fixed;
  background: linear-gradient(rgba(77, 3, 11, 0) 30%, );
  text-align: center;
  width: 100%;height: 500px;top: 0;
}


.hone {
  text-align: right;      
  direction: rtl;      
  position: absolute;
  color: #ffffff;
  top: 50%;
  right: 15%;
  text-shadow: 0 1px 8px ;
  font-size: 2.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.pone{
        text-align: right;
        direction: rtl;
        position: absolute;
        color: #ffffff;
        top: 65%;
        right: 15%;
        text-shadow: 0 1px 8px ;
        font-size: 2rem;
        font-family: IRANYekan,sans-serif;
}
.butnsabtnam{
        text-align: center;
        direction: rtl;
        position: absolute;
        color: #ffffff;
        top: 85%;
        right: 15%;
        background-color: rgb(147, 25, 27);
        border-color: rgb(147, 25, 27);
        border-radius: 5px;
        border-bottom: 40px;
        width: 130px;
        height: 40px;
        
}
